{
    "allowed_hosts": [
        "*"
    ],
    "aws_s3_access_key": "",
    "aws_s3_bucket": "",
    "aws_s3_secret_key": "",
    "cors_allowed_origins": [],
    "db_host": "",
    "db_port": "",
    "db_name": "vq-django-exercise",
    "db_password": "",
    "db_user": "",
    "debug": true,
    "default_from_email": "",
    "django_secret_key": "",
    "email_host": "email-smtp.eu-west-1.amazonaws.com",
    "email_host_password": "",
    "email_host_user": "",
    "email_port": 587,
    "email_use_ssl": false,
    "email_use_tls": true,
    "log_level": "DEBUG",
    "log_formatter": "simple",
    "sentry_dsn": "",
    "traces_sample_rate": 0.01,
    "use_ssl": false
}
